<div class="product">
    <a href="#<%= name %>">
        <div class="product__image">
            <img
                src="/images/<%= image %>"
                alt="<%= name %>"
                tile="<%= name %>"
            />
        </div>
        <div class="product__data">
            <h4 class="product__data--title"><%= name %></h4>
            <div class="product__data--prices">
                <span
                    class="
                        product__data--prices-regular
                        product__data--prices-regular-striked
                    "
                >
                    $<%= price %>
                </span>
                <span
                    class="
                        product__data--prices-regular
                        product__data--prices-regular-special
                    "
                >
                    $<%= priceSpecial %>
                </span>
            </div>
        </div>
    </a>
</div>
